.contact-sec1{
    background-image: url(../../assets/image/AB5.jpg);
    background-size: cover;
    /* background-position: center center;
    background-repeat: no-repeat; */
    height: 550px;
    text-align: center;
    position: relative;
}

.contact-sec1-text{
    text-align: center;
    font-weight: bolder;
    color: black; 
}
.contact-sec1-h1{
    padding-top: 250px;
}
.contact-sec1-text p a{
    color: black;
}
.contact-sec2{
    padding-top: 40px;
    text-align:center;
}
.contact-sec2-h2{
    padding-bottom: 30px;
}

.contact-sec3{
    padding-top: 40px;
    padding-bottom: 10px;
}

