.footer{
    background-color: #343A40;
    color: #FFF9F9;
}
.contai{
    padding-top: 4%;
}
.footer-column{
    margin-bottom: 40px;
}
.s-color{
    color: gray;
}
.s-place{
    padding-left: 10px;
}
